*{
    margin: 0px;
    padding: 0px;
}

#container{
    width: 100%;
    height:90%;
}

.top{
    background-color: yellow;
    width: 100%;
    height: 60%;
    background-image: url("../img/jamaica.png");
}

.welcome{
    width: 300px;
    height: 200px;
    background-color: #2980b9;
    color: white;
    margin-right: 325px;
    float: right;
    margin-top: 60px;
    padding:15px;
    font-family: 'Franklin Gothic Book';
}

.welcome h2{
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.welcome p{
    padding-left: 10px;
}

.bottom{
 font-family: 'Franklin Gothic Book';
 width: 100%;
 margin-top: 20px;
}

.mission{
    text-align: center;
}

.mission p{
    font-style: italic;
}

.about{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}